{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
      {% block content %}

      <div class="jumbotron">
        <h1 class="myfancyfont">General descriptions</h1>
        <table class="table" border=1>
          <thead>
            <tr>
                {% for k in key%}
                    <th scope="col" class="text-center danger"> {{ k }} </th>
                {% endfor %}
            </tr>
          </thead>
            <tbody>
            {% for k in result%}
            <tr>
               {% for value in k%}
                  {% if value[1]==True %}
                  <td><a href="{{ url_for('description', uri=value[0]) }}" id={{value[0]}} > 
                    {{value[0]}}
                  </a> </td>
                  {% else %}
                  <td>{{value[0]}}</td>
                  {% endif %}
               {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
      {% endblock %}
</body>
</html>
      
