<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Marvel and DC Comic Books KG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/myicon.png')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span>
              <a id="logo_h2" href="index.html"><span style="color:#33cccc">Marvel and DC Comic Books KG</span></a>
            </span>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/query">Manual SPARQL Query</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container center">
      <h2>Hello! Welcome to the </h2>
      <h1 class="pacifico">Marvel and DC Comic Books Knowledge Graph UI</h1>
      
      <h2>This system was built as part of the <b>INF 558/CSCI 563: Building Knowledge Graphs</b> class @ <a href="https://www.cs.usc.edu/" target="_blank">University of Southern California</a></h2>

      <div class="jumbotron">
        <form name="query" action="/query" method="POST">
          <label for="sparql" class="sr-only">Sparql Query</label>
          <textarea class="form-control" type="name" name="sparql" rows="6"></textarea>
          </br>
          <button type="submit" id="btnSearch" class="btn btn-lg btn-primary btn-block" type="button">Query</button>
          </br>
          <table class="table" border=1>
            <thead>
              <tr>
                  {% for k in key%}
                      <th scope="col" class="text-center danger"> {{ k }} </th>
                  {% endfor %}
              </tr>
            </thead>
              <tbody>
              {% for k in result%}
              <tr>
                 {% for value in k%}
                      <td> {{value}} </td>
                 {% endfor %}
              </tr>
              {% endfor %}
              </tbody>
          </table>
        </form>
      </div>


      <footer class="footer">
        <small>© 2018 Basel Shbita, Ke Xu</small>
      </footer>
    </div>
  </body>
</html>